#light {
  background-color: rgb(255, 255, 255);
  transition: all ease 2s;
}

#dark {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  

  transition: all ease 2s;
}
